<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>

<body>
<div th:insert="~{fragments/header.html}"></div>
<div class="container">
  <section class="pb-4">
    <div>
      <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div th:if="${param.error}">
          Invalid username and password.</div>
        <div th:if="${param.logout}">
          You have been logged out.</div>
        <form style="width: 22rem;" th:action="@{login}" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" name="username" placeholder="Email">
            <label class="form-label" for="form2Example1" style="margin-left: 0px;">Email address</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88px;"></div><div class="form-notch-trailing"></div></div></div>
  
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" name="password" placeholder="Password">
            <label class="form-label" for="form2Example2" style="margin-left: 0px;">Password</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
  
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
  
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
  
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Вход</button>
  
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
          </div>
        </form>
      </section>      
    </div>
  </section> 
</div>
<div th:insert="~{fragments/footer.html :: footer}"></div>
</body>
</html>